@import 'colors';

@mixin icon {
  font-family: 'FontAwesome';
  display: inline-block;
}

@mixin state-icon {
  @include icon;
  color: black;
  margin-right: 10px;
}

.status-category-list {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;

  li {
    padding: 3px 0;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #eee;

    &:first-child {
      border-top: 1px solid #eee;
    }

    &:hover {
      background-color: #ddd;
    }

    div {
      flex-grow: 1;
    }

    button {
      border: 1px solid #888;
      background-color: #eee;
      height: 25px;
      width: 25px;
      font-size: 15px;

      &:hover {
        background-color: #ddd;
      }
    }
  }
}

.modified {
  li:before {
    @include state-icon;
    content: "\f040";
    color: #0000ff;
  }
}

.deleted {
  li:before {
    @include state-icon;
    content: "\f068";
    color: red;
  }
}

.added {
  li:before {
    @include state-icon;
    content: "\f067";
    color: green;
  }
}

.untracked {
  li:before {
    @include state-icon;
    content: "\f069";
    color: #ee9900;
  }
}

.renamed {
  li:before {
    @include state-icon;
    content: "\f0ec";
    color: #0000ff;
  }
}

