@import 'colors';

.status-list {
  //flex: 1;
  //min-height: 500px;
  //
  //position: relative;

  h1 {
    font-weight: normal;
  }

  .worktree, .index {
    overflow: auto;
    width: 100%;
  }
}
