@import 'colors';


li {
  padding: 3px 0;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid #eee;

  &:first-child {
    border-top: 1px solid #eee;
  }

  &:hover {
    background-color: #ddd;
  }

  div {
    flex-grow: 1;
  }

  button.status-list-action-button {
    border: 1px solid #888;
    background-color: #eee;
    height: 25px;
    width: 25px;
    font-size: 15px;
    margin-right: 5px;

    &:last-child {
      margin-right: none;
    }

    &:hover {
      background-color: #ddd;
    }
  }
}
  