@import 'colors';

@mixin icon {
  font-family: 'FontAwesome';
  display: inline-block;
}

@mixin state-icon {
  @include icon;
  color: black;
  margin-right: 10px;
}

.status-category-list {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;

  li {
    padding: 3px 0;
    cursor: pointer;

    &:hover {
      background-color: #ddd;
    }
  }
}

.modified {
  li:before {
    @include state-icon;
    content: "\f040";
    color: #0000ff;
  }
}
.deleted {
  li:before {
    @include state-icon;
    content: "\f068";
    color: red;
  }
}
.added {
  li:before {
    @include state-icon;
    content: "\f067";
    color: green;
  }
}
.untracked {
  li:before {
    @include state-icon;
    content: "\f069";
    color: #ee9900;
  }
}

