@import 'colors';

.status-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .index {
    flex-grow: 1;
    padding: 10px;
  }

  .worktree {
    flex-grow: 1;
    padding: 10px;
    border-right: 1px solid black;
    margin-right: 10px;
  }
}
